
#title{
    text-align: center;
    font-size: 40px;
}

#imgDisp{
    text-align: center;
}
#completePanDiv{
    width: 60%;
    margin: 0 auto;
}

#innerCompletePanDiv{
    border: solid thin black;
    padding:10px;
}

#loadingDiv{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: bisque;
    z-index: 1000;
    text-align: center;
    padding-top: 10%;
    font-size: 70px;
}

#disp{
    height:460px;
    margin: 0 auto;
    text-align: center;   
    line-height: 500px;  
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}